{% extends 'base.html.twig' %}
{% block title 'Gérer les biens' %}
{% block body %}
    <div class="container mt-4">
        <h1>Gérer les biens</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for properties in properties %}
                <tr>
                    <td>{{ properties.title }}</td>
                    <td>{{ properties.description }}</td>
                    <td>
                        <a href="#" class="btn btn-secondary">Afficher</a>
                        <a href="{{ path('lesbiens.edit',{id: properties.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('lesbiens.delete', {id: properties.id}) }}" style="display: inline-block;" onsubmit="return confirm('êtes vous sur?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token(properties.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('lesbiens.new') }}" class="btn btn-primary">Créer un bien</a>
        </div>
    </div>




{% endblock %}