{% extends 'base.html.twig' %}
{% block title 'Gérer les agences' %}
{% block body %}
    <div class="container mt-4">
        <h1>Gérer les agences</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Address</th>
                <th>Contact</th>
                <th>E-mail</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for agences in agence %}
                <tr>
                    <td>{{ agences.title }}</td>
                    <td>{{ agences.address }}</td>
                    <td>{{ agences.contact }}</td>
                    <td>{{ agences.email }}</td>
                    <td>
                        <a href="#" class="btn btn-secondary">Afficher</a>
                        <a href="{{ path('lesagences.edit',{id: agences.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('lesagences.delete', {id: agences.id}) }}" style="display: inline-block;" onsubmit="return confirm('êtes vous sur?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token(agences.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('lesagences.new') }}" class="btn btn-primary">Créer une agence</a>
        </div>
    </div>




{% endblock %}